html, body{
    height: 100%;
    background-color: dodgerblue
}
#something:hover{
    background-color: orange;
}
.row .col-xs-4{
    height: 100px;
    /*background-color: aqua*/
    
}
#something : hover{
    background-color: orange;
}


.row .col-xs-12{
    padding-left: 0px; 
    padding-right: 0px;
    
}
#something {
    text-align: center;
    font-family: monospace;
    font-size: 300%;
    line-height: 2.0;
}


